<div id="flash" class="flash flash_html round_bottom">
 <% unless flash[:notice].blank? %>
   <%= flash[:notice]%>
 <% end %>
 <% unless flash[:error].blank? %>
   <%= flash[:error]%>
 <% end %>
  <% unless flash[:success].blank? %>
   <%= flash[:success]%>
 <% end %>
 <% unless flash[:info].blank? %>
   <%= flash[:info]%>
 <% end %>

</div>
