<div id="empty_component" class="component component_right">
  <div class="component_header">
    <div class="component_header_left">
      <label class="component_title">{{ emptyTitle }}</label>
    </div>
    <div class="component_header_right"></div>
  </div>
  <div class="component_content">
  	{{emptyComponentMessage emptyMessage }}
  </div>
</div>
