<ul class='single_row grouped_row full_row'>
  <li class='listed_provider_seq data_point'>Location Name: {{ name }}</li>
  <li class='listed_resolved_id data_point'>Location Number: {{ location_number }}</li>
  <li class='listed_provider_state data_point'>State: NV</li>
</ul>
