<ul class="full_row">
	<li class='location_name data_point'>
      <span class="grid_label">Items Count: </span> 
      <span class="grid_value">{{ itemCount }}</span>
  </li>
	<li class='location_name data_point'>
      <span class="grid_label">Service Record Count: </span> 
      <span class="grid_value">{{ serviceRecordCount }}</span>
  </li>
	<li class='location_name data_point'>
      <span class="grid_label">Warranty Count: </span> 
      <span class="grid_value">{{ warrantyCount }}</span>
  </li> 
</ul>
