<div class="component component_right">
  <div class="component_header">
    <div class="component_header_left">
      <label class="page_title">Location Warranties</label>
    </div>
    <div class="component_header_right">

    </div>
  </div>
  <div class="component_content">
    
  </div>
</div>
{{outlet}}