<div class="component component_left">
  <div class="component_header">
    <div class="component_header_left">
      <label class="page_title">Locations</label>
    </div>
    <div class="component_header_right">
      <ul class='toolbar'>
        <li class='icon icon-16 add'>Add Location</li>
      </ul>
    </div>
  </div>
  <div class="component_content">
    comp 1
  </div>
</div>
