<div class="last_component component component_right">
  <div class="component_header">
  	<div class="component_wrap">
	    <div class="component_header_left">
	      <label class="component_title">Store Service Records</label>
	    </div>
	    <div class="component_header_right">

	    </div>
  	</div>
  </div>
  <div class="component_wrap">
  	<div class="component_scroller">
      {{#if controller }}
        <ul class="striped">
          {{#each service_record in controller }}
            {{#with service_record}}
              {{partial 'items/listed_service_record'}}
            {{/with}}
          {{/each}}
        </ul>
      {{ else }}
        {{emptyComponentMessage emptyLocationsMessage}}
      {{/if}}
  	</div>
  </div>
</div>
{{outlet}}
