html, body, #wrapper, #sidebar, #content {overflow: hidden;}
#content_scroller, #sidebar_scroller {overflow-y: scroll;}
#wrapper, #main_nav, header, #sidebar, #sidebar_scroller, 
#sidebar_content, #content, #content_scroller, .inner_content, 
#main_nav ul, #main_nav ul li, #main_nav ul li a, .header_title, .avatar,
#user_meta
{position: relative; float: left;box-sizing: border-box;}

.full_section {position: relative; width: 100%; box-sizing: border-box;}
header {text-shadow: 0 1px 2px rgba(0,0,0,0.3); width: 100%;}
.header_title {width: 50%; display: block;}
#resource_header.header_title {width: 75%;font-size: 12px;font-style: italic;color: #AAA}
#master_header {border-bottom: 1px solid #888; z-index: 10; padding-right: 20px;}
#content_header {border-bottom: 1px solid #ccc; z-index: 5; padding-right: 20px;}

#wrapper {background: #ddd;}
#sidebar {background: #E6EAF0; border-right: 1px solid #B0B0B0; border-top: 1px solid #eee; width: 260px;}
#content {background: #fff; border-top: 1px solid #eee;}
.inner_content {width: 100%;padding: 10px;}


#internal_header {height: 60px; font-size: 13px; color: #444; border-bottom: 1px solid #999;text-shadow: 0 1px 1px #FFF;}
#internal_header .avatar img {height: 40px;}
#user_meta {padding: 0px 10px;}
#district_branding {position: relative; float: right; text-align: right; padding-left: 155px;box-sizing: border-box;}
.logo_text {font-size: 20px;font-weight: 700;display: block;position: absolute;left: 0px; top: 9px;}
#district_branding img {float: right;}
#main_nav ul, #main_nav ul li, #main_nav ul li a {position: relative; float: left;}
#main_nav ul li.right_side_nav {float:right;}
#main_nav ul li a {padding: 10px; font-size: 13px; border-left:1px solid rgba(255,255,255,0.3); border-right: 1px solid rgba(0,0,0,0.2);}

#msmapp #main_nav ul {border-top: 1px solid #ddd;border-bottom: 1px solid #777;}
#msmapp #main_nav ul li a {padding: 2px 10px; margin: 6px;border-radius: 11px; border: none;}
#msmapp #main_nav ul li a:hover {background: #a7a7a7;}
#msmapp #main_nav ul li a.active { background: #7e7e7e; box-shadow: inset 0px 2px 2px -1px #333;}

#msmapp .nav_toggle {border: 4px solid rgba(0, 0, 0, 0);width: 0;height: 0;position: relative;display: inline-block;}
#msmapp .section_toggle .nav_toggle, #msmapp .content_list_item .nav_toggle {border-top: 4px solid rgba(0, 0, 0, 0); border-left: 5px solid #444; top: -1px;margin-right: 4px;}
#msmapp .section_toggle:hover .nav_toggle {border-left: 5px solid #fff;}
#msmapp .section_toggle.active .nav_toggle {border-top: 5px solid #fff; border-left: 5px solid rgba(0, 0, 0, 0); top: 2px;left: 0px;}
#msmapp .content_list_item .active .nav_toggle {border-top: 5px solid #000; border-left: 5px solid rgba(0, 0, 0, 0); top: 2px;left: 0px;}

#msmapp #main_nav ul li a .nav_toggle {border-top: 5px solid #444;top: 2px;right: 0px;}
#msmapp #main_nav ul li a:hover .nav_toggle, #msmapp #main_nav ul li a.active .nav_toggle {border-top: 5px solid #fff;}

.standards_header header {width: 433px;}

.non_icon_header_link.header_link.active, .non_icon_header_link .header_link.active, .header_text_link.active {background: #037BA6;color: #FFF;padding: 2px 10px;border-radius: 16px;}
.header_text_link.active {background: #037BA6;color: #FFF;padding: 2px 10px; top: 5px; right: 5px; border-radius: 16px;}


