<header id='main_header'>
	<span id='logo'>Tracking Book</span>
	<section id='user_actions'>
		<ul>
			<li>Account Settings</li>
			<li>Logout</li>
		</ul>
	</section>
</header>
<section id='main_section'>
	<section id='quick_launch'>
		<ul>
			<li class='icon quick_launch add_locations'>Dashboard</li>
			<li class='icon quick_launch add_locations'>Items</li>		
			<li class='icon quick_launch add_locations'>Warranties</li>
			<li class='icon quick_launch add_locations'>Locations</li>
		</ul>
	</section>
</section>
