<div id="top_section">
  <div class="component component_left">
    <div class="component_header">
      <div class="component_header_left">
        <label class="page_title">Dashboard</label>
      </div>
      <div class="component_header_right">
        <ul class='toolbar'>
          <li class='icon toolbar_icon'>Stuff</li>
          <li class='icon toolbar_icon'>Stuff</li>
        </ul>
      </div>
    </div>
    <div class="component_content">
      comp 1
    </div>
  </div>
  {{partial 'dashboard/section-two'}}
</div>
<div id="bottom_section">
  
</div>